---
import '../assets/styles/tailwind.css';

import Layout from '~/layouts/PageLayout.astro';
---


<Layout>

	<h1 class="text-7xl font-bold text-center leading-tigher tracking-tight font-heading mb-6 text-white">Franklin Regional Swim Team</h1>
	<div class="max-w-2xl max-auto text-3xl text-center text-white mx-auto">Pursuing Excellence Together</div>

</Layout>

